:root{
    background-color: #0d1117;       
    --text-primary: #e6edf3;   
    --border-color: #30363d;


}

body{
    color: #e6edf3;
    font-family: 'Segoe UI';
    line-height: 1.6;
    margin: 0;
    padding: 2em;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}